* {
  box-sizing: border-box;
}

html.loading,
html.loading * {
  transition: none !important;
}

// Accessibility
#nav-con {
  position: absolute;
  left: -10000px;
}
.unused,
#full-nav.hidden {
  display: none;
}
.access {
  position: absolute;
  left: -10000px;
}

// Video Icons
.youtube {
  display: block;
  height: $base-line;
  padding-top: $base-line * 0.15;
}
.agendas h4 {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  gap: 0 $base-line * 0.25;
}
.video {
  display: flex;
  align-items: center;
  gap: 0 $base-line * 0.125;
}
