* {
  box-sizing: border-box;
}

html.loading,
html.loading * {
  transition: none !important;
}

// Accessibility
#nav-con {
  position: absolute;
  left: -10000px;
}
.grad .ugrad,
.ugrad .grad,
.grad .grad h3,
.ugrad .ugrad h3,
.unused,
#full-nav.hidden {
  display: none;
}
.access {
  position: absolute;
  left: -10000px;
}

// Links
h1 a {
  text-decoration: none;
}

// Lists

ol ul > li,
ul ul > li,
.with::before {
  margin-left: -($base-line);
}
ul {
  list-style-type: square;
}
ol {
  list-style-type: decimal;
}
ul, .with::before {
  list-style-type: none;
}
ul li, .with::before {
  position: relative;
  padding-left: $base-line;
  margin-left: -($base-line);
}
ul > li::before {
  // content: "■";
  content: "◆";
  position: absolute;
  left: $base-line * 0.2;
  top: -($base-line * 0.0325);
}

#projects ol ul li::before {
  content: "✔︎";
}

#links ul,
#grading-policy ul,
#instructor ul {
  list-style-type: none;
}

#links ul li::before,
#grading-policy ul li::before,
#instructor ul li::before {
  content: "";
}


ol, .with::before {
  list-style-type: none;
  counter-reset: enumerated;
}
ol > li, .with::before {
  position: relative;
  padding-left: $base-line;
  margin-left: -($base-line);
  counter-increment: enumerated;
}
ol > li::before {
  font-weight: bold;
  content: counter(enumerated) "";
  position: absolute;
  left: -($base-line * 0.0325);
  text-align: right;
  width: 1em;
}

// Video Icons
.youtube {
  display: block;
  height: $base-line;
  padding-top: $base-line * 0.15;
}
.agendas h4 {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  gap: 0 $base-line * 0.25;
}
.video {
  display: flex;
  align-items: center;
  gap: 0 $base-line * 0.125;
}

// Deadlines
.deadlines {
  padding: $base-line / 2;
  padding-bottom: 0;
  margin: (-($base-line / 2));
  margin-bottom: $base-line / 2;
}
.deadlines li {
  list-style-type: none;
}
.deadlines li::before {
  content: "";
}
.agendas {
  margin-bottom: $base-line / 2;
}
