$text-color: #222;
$back-color: #F2F2F2;
$spot-color: #900;
$gray-color: #7F7F7F;
$gray-alter: darken($gray-color, 10%);
$link-under: transparentize($spot-color, 0.65);
$curr-color: lighten($gray-color, 40%);

// Dark mode
$dk-text-color: #AFAFAF;
$dk-back-color: #111;
$dk-spot-color: #9C0000;
$dk-gray-color: #777;
$dk-link-under: transparentize($dk-spot-color, 0.25);
$dk-curr-color: darken($dk-gray-color, 45%);


// CSS Variables
html,
html.light {
  --color-text: #{$text-color};
  --color-back: #{$back-color};
  --color-spot: #{$spot-color};
  --color-gray: #{$gray-color};
  --color-curr: #{$curr-color};
  --color-altg: #{$gray-alter};
  --color-link: #{$link-under};
  --color-navi: #{$gray-color};
  --color-nava: #{$back-color};
}
html.dark {
  --color-text: #{$dk-text-color};
  --color-back: #{$dk-back-color};
  --color-spot: #{$dk-spot-color};
  --color-gray: #{$dk-gray-color};
  --color-curr: #{$dk-curr-color};
  --color-altg: #{$dk-gray-color};
  --color-link: #{$dk-link-under};
  --color-navi: #{$dk-gray-color};
  --color-nava: #{$dk-text-color};
}
@media screen and (prefers-color-scheme: dark) {
  html {
    --color-text: #{$dk-text-color};
    --color-back: #{$dk-back-color};
    --color-spot: #{$dk-spot-color};
    --color-gray: #{$dk-gray-color};
    --color-curr: #{$dk-curr-color};
    --color-altg: #{$dk-gray-color};
    --color-link: #{$dk-link-under};
    --color-navi: #{$dk-gray-color};
    --color-nava: #{$dk-text-color};
  }
}

html {
  color: $text-color;
  color: var(--color-text);
  background: $back-color;
  background: var(--color-back);
}
ol > li::before,
ul li::before {
  color: $spot-color;
  color: var(--color-spot);
}
a {
  color: $spot-color;
  color: var(--color-spot);
}
@supports (text-decoration-color: red) {
  a {
    color: inherit;
    text-decoration-color: $link-under;
    text-decoration-color: var(--color-link);
  }
}
#header h1 a {
  color: $spot-color;
  color: var(--color-spot);
}
.nav a {
  border: 1px solid $spot-color;
  border: 1px solid var(--color-spot);
  color: $gray-color;
  color: var(--color-navi);
}
.nav a:hover,
.nav a:focus,
.nav a:active,
#calendar #nav-cal a,
#policies #nav-pol a,
#projects #nav-pro a {
  background-color: $spot-color;
  background: var(--color-spot);
  color: $back-color;
  color: var(--color-nava);
}

#materials.policy .recommended,
.project .description,
.project .goals,
.week .agenda,
.fine-print {
  color: $gray-color;
  color: var(--color-gray);
}
.current {
  background: $curr-color;
  background: var(--color-curr);
}
.week.current .agenda {
  color: $gray-alter;
  color: var(--color-altg);
}
#btn-show-calendar,
.agenda h3 a {
  color: $back-color;
  color: var(--color-back);
  background: $spot-color;
  background: var(--color-spot);
}
#btn-show-calendar {
  background: $back-color;
  background: var(--color-back);
  color: $gray-color;
  color: var(--color-gray);
  border: 1px solid $gray-color;
  border: 1px solid var(--color-gray);
}
#btn-show-calendar:active,
#btn-show-calendar:focus,
#btn-show-calendar:hover {
  background: $gray-color;
  background: var(--color-gray);
  color: $back-color;
  color: var(--color-back);
}
.agenda h3 a {
  background: $back-color;
  background: var(--color-back);
  border: 1px solid $spot-color;
  border: 1px solid var(--color-spot);
  color: $spot-color;
  color: var(--color-spot);
}
.agenda h3 a:active,
.agenda h3 a:focus,
.agenda h3 a:hover {
  background: $spot-color;
  background: var(--color-spot);
  color: $back-color;
  color: var(--color-back);
}
.agenda h3 a::before {
  color: $gray-color;
  color: var(--color-gray);
}
header small {
  color: $spot-color;
  color: var(--color-spot);
}
.week > header small {
  color: $gray-color;
  color: var(--color-gray);
}
#header,
#footer,
#instructor {
  color: $gray-color;
  color: var(--color-gray);
}
#header .nav {
  color: $text-color;
  color: var(--color-text);
}
#header #theme-toggle {
  background: $text-color;
  background: var(--color-text);
  color: $back-color;
  color: var(--color-back);
}
#header #theme-toggle svg {
  fill: $back-color;
  fill: var(--color-back);
}
