$font-url: "https://use.typekit.net/pig5ein.css";

$primary-font-family: "Parka", serif;
$secondary-font-family: "moderno-fb-compressed";
$tertiary-font-family: "moderno-fb-condensed";

// Font-Weight Reference
// Parka: 300 (retina); 400 (normal); 500 (medium); 700 (bold)
// Moderno FB Compressed: 600 (semibold)
// Moderno FB Condensed: 700 (bold)
