// For reference; font-url value deeclared in _config.yml
$font-url: "https://use.typekit.net/lec4tmb.css";

$primary-font-family: "myriad-pro", sans-serif;
$secondary-font-family: "lexia", serif;
$tertiary-font-family: $secondary-font-family;
$accent-font-family: "clone-rounded-latin", sans-serif;

$base-size-px: 19;
$base-line-px: 25;
$base-size: ($base-size-px / 16) * 100%;
$base-line: ($base-line-px / $base-size-px) * 1rem;
$mod-scale: 1.25;

// Myriad Pro: 300/i (light); 400/i (regular); 600 (semibold)
// Lexia: 300/i (light); 400/i (regular); 700 (bold); 800 (xbold)
// **
// ** NO ITALIC ON Clone Rounded **
// **
// Clone Rounded Latin: 300 (light); 400 (regular); 500 (medium)
