$font-url: "https://use.typekit.net/qqk1feg.css";

$primary-font-family: "alber-new-web", serif;
$secondary-font-family: "abril-titling-narrow";
$tertiary-font-family: "abril-titling";

// Font-Weight Reference
// Alder New Web: 300 (retina); 400 (normal); 500 (medium); 700 (bold)
// Abril Titling Narrow: 600 (semibold)
// Abril Title: 700 (bold)
