// Page Offsets


#header {
  padding-bottom: $base-line;
}

#content > * {
  padding: ($base-line / 2) $base-line;
}

#instructor,
#full-nav {
  padding: $base-line;
  padding-top: 0;
}

#footer {
  padding: $base-line;
}

// Weeks
.week > header {
  margin-bottom: $base-line / 2;
}
.week + .week {
  margin-top: $base-line * 2;
}
.agendas h4,
.assigned header,
.assigned h4 {
  margin-bottom: $base-line * 0.25;
}
// Navigation
#full-nav li {
  margin-bottom: $base-line / 2;
}
#full-nav .nav {
  margin-top: $base-line / 4;
}
#quick-nav {
  order: -1;
  flex: 1 0 auto;
  padding: 0 $base-line;
}
#theme-button {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.55;
  line-height: 0;
  padding: 0;
  width: $base-line * 2;
}
#quick-nav .nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
}
#quick-nav li {
  padding: 0;
  margin-left: $base-line / 4;
}
#quick-nav li:first-child {
  margin-left: 0;
}
.navbar #quick-nav li::before {
  content: "";
}
#nav-con a {
  text-decoration: none;
}
#quick-nav a {
  text-align: center;
}
.nav a {
  // background: #DDD;
  line-height: 1;
  height: $base-line * 2;
  padding: $base-line * 0.60 $base-line * 0.5 $base-line * 0.40 $base-line * 0.5;
  margin: 0;
  text-decoration: none;
  display: block;
}
#theme-button a {
  margin-top: -($base-line / 4);
}
.nav li::before {
  content: "";
}

body::after {
  content: "";
}

#header {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
}
#header h1,
#header p {
  padding: 0 $base-line;
  flex: 0 0 100%;
}
#header h1 a {
  margin-top: -($base-line * 0.25);
}

@media screen and (min-width: (480 / 16 * 1em)) {
  #header {
    padding-bottom: $base-line;
  }
  #header h1,
  #header p {
    padding: 0 (($base-line-px / 480) * 100%);
  }
  #header p {
    flex: 0 0 50%;
  }
  #content > * {
    padding: ($base-line / 2) (($base-line-px / 480) * 100%);
  }
  #information,
  #footer {
    padding: $base-line (($base-line-px / 480) * 100%);
  }
  #information {
    padding-right: 0; // TODO: pad with nav a to maximize clickable area
  }
  #instructor,
  #full-nav {
    padding: $base-line 0;
    padding-top: 0;
  }

  #information {
    display: grid;
    grid-template-columns: [instructor-start] 1fr 1fr 1fr [instructor-end nav-start] 1fr [nav-end];
    grid-gap: $base-line / 2;
  }
  #instructor {
    grid-area: instructor;
    grid-row: 1;
  }
  #full-nav {
    grid-area: nav;
    grid-row: 1;
  }
}

@media screen and (min-width: (670 / 16 * 1em)) {
  #header p {
    flex: 0 0 40%;
  }
  #information {
    grid-template-columns: [instructor-start] 1fr 1fr 1fr [instructor-end nav-start] 1fr 1fr [nav-end];
    grid-gap: 0 ($base-line * 2);
  }

  .project,
  .policy,
  .links {
    display: grid;
    grid-template-columns: [header-start aside-start] 1fr 1fr [aside-end primary-start] 1fr 1fr 1fr [primary-end header-end];
    grid-gap: 0 ($base-line * 2);
    grid-auto-flow: dense;
  }
  .policy {
    grid-template-columns: [header-start primary-start aside-start] 1fr 1fr [aside-end primary-alternate-start] 1fr 1fr [primary-end] 1fr [primary-alternate-end header-end];
  }
  .links {
    grid-template-columns: [header-start] 2fr 3fr [header-end];
  }
  .project > header,
  .policy > header,
  .links > header {
    grid-column: header;
    // border-bottom: 1px solid black;
    margin-bottom: $base-line / 2;
  }
  /*
  .policy > header {
    display: grid;
    grid-template-columns: 1fr [heading-start] 1fr 1fr 1fr 1fr [heading-end];
    grid-gap: 0 ($base-line * 2);
    border-bottom: 1px solid black;
  }
  */
  .policy > header h2 {
    grid-column: heading;
  }
  .project .description,
  .project .goals,
  .policy .comment {
    grid-column: aside;
  }
  .policy .comment {
    grid-row: 2;
  }
  .project .deliverables,
  .project .requirements,
  .policy > * {
    grid-column: primary;
  }
  .has-comment > * {
    grid-column: primary-alternate;
  }

  .week {
    display: grid;
    grid-template-columns: [header-start agendas-start] 1fr 1fr [agendas-end deadlines-start assigned-start] 1fr 1fr 1fr [deadlines-end assigned-end header-end];
    grid-gap: 0 ($base-line * 2);
  }
  .week > header {
    grid-column: header;
    margin-bottom: $base-line;
  }
  .agendas {
    grid-column: agendas;
    grid-row: span 3;
  }
  .deadlines {
    grid-column: deadlines;
    grid-row: 2;
  }
  .assigned {
    grid-column: assigned;
  }
  .agendas header {
    margin-bottom: $base-line * 1.25;
  }
  .deadlines li small {
    margin-bottom: $base-line * 0.25;
  }
  .deadlines li + li small {
    margin-top: $base-line * 0.25;
  }
  /*
  .links section:nth-child(odd) {
    grid-column: 2;
  }
  .links section:nth-child(even) {
    grid-column: 1;
  }
  */
  .links section.suggestions {
    grid-column: 2;
  }
}

@media screen and (min-width: (820 / 16 * 1em)) {
  html {
    font-size: $base-size * 1.1176470588; /* 19px */
  }
  #header {
    font-size: $base-size * 1.1176470588 / $mod-scale / $mod-scale;
  }
}

@media screen and (min-width: (945 / 16 * 1em)) {
  body::after {
    content: "navbar";
    display: none;
  }
  #information {
    display: block;
  }
  #header {
    display: grid;
    grid-template-columns: [nav-start heading-start tagline-start] 1fr 1fr 1fr [tagline-end heading-end] 1fr 1fr 1fr 1fr [nav-end];
    grid-gap: 0 $base-line;
    align-items: baseline;
  }
  #header {
    padding-left: (($base-line-px / 480) * 100%);
  }
  #header h1,
  #header p {
    padding: 0;
  }
  #footer,
  #instructor {
    display: grid;
    grid-template-columns: [heading-start] 1fr [heading-end primary-start] 1fr 1fr 1fr 1fr [primary-end] 1fr 1fr;
    grid-gap: $base-line / 2 $base-line;
  }
  #header h1 {
    grid-column: heading;
    margin-bottom: 0;
  }
  #header p {
    grid-column: tagline;
  }
  #header nav {
    grid-column: nav;
    grid-row: 1;
    margin-bottom: $base-line / 2;
  }
  #instructor header,
  #footer h3 {
    grid-column: heading;
    grid-row: 1;
  }
  #instructor ul,
  #footer .fineprint,
  #footer .archives {
    grid-column: primary;
    grid-row: 1;
  }
  #footer .archives {
    grid-row: 2;
  }
  .project{
    grid-template-columns: 1fr [header-start aside-start] 1fr 1fr [aside-end primary-start] 1fr 1fr 1fr [primary-end header-end] 1fr;
  }
  .policy {
    grid-template-columns: 1fr [header-start primary-start aside-start] 1fr 1fr [aside-end primary-alternate-start] 1fr 1fr [primary-end] 1fr [primary-alternate-end header-end] 1fr;
  }
  .week {
    display: grid;
    grid-template-columns: 1fr [header-start agendas-start] 1fr 1fr [agendas-end deadlines-start assigned-start] 1fr 1fr 1fr [deadlines-end assigned-end header-end] 1fr;
  }
  .links {
    grid-template-columns: 1fr [header-start] 2fr 3fr [header-end] 1fr;
  }
  #information {
    grid-template-columns: 1fr [instructor-start] 1fr 1fr 1fr [instructor-end nav-start] 1fr 1fr [nav-end] 1fr;
  }
  .links section:nth-child(odd) {
    grid-column: 3;
  }
  .links section:nth-child(even) {
    grid-column: 2;
  }
  .links section.suggestions {
    grid-column: 3;
  }
}
