// For reference; font-url value deeclared in _config.yml
$font-url: "https://use.typekit.net/lec4tmb.css";

$primary-font-family: "myriad-pro", sans-serif;
$secondary-font-family: "lexia", serif;
$tertiary-font-family: $secondary-font-family;
$accent-font-family: "clone-rounded-latin", sans-serif;

$base-size-px: 17;
$base-line-px: 22;
$base-size: ($base-size-px / 16) * 1em;
$base-lexia-size: $base-size * 0.87;
$base-line: ($base-line-px / $base-size-px) * 1rem;
$mod-scale: 1.1428571429; /* 8:7 modular scale */

// Myriad Pro: 300/i (light); 400/i (regular); 600 (semibold)
// Lexia: 300/i (light); 400/i (regular); 700 (bold); 800 (xbold)
// **
// ** NO ITALIC ON Clone Rounded **
// **
// Clone Rounded Latin: 300 (light); 400 (regular); 500 (medium)

html {
  -webkit-text-size-adjust: none;
  font-family: $primary-font-family;
  font-size: $base-size;
  line-height: $base-line;
  padding: $base-line;
}

h2,
#content h3 {
  font-family: $secondary-font-family;
  font-size: $base-lexia-size;
  font-weight: 700;
  padding-top: $base-line * 0.25;
  line-height: $base-line * 0.75;
}

h2 {
  font-size: $base-lexia-size * $mod-scale * $mod-scale * $mod-scale * $mod-scale;
  padding-top: 0;
  line-height: $base-line * 1.5;
}

h3 {
  text-transform: uppercase;
}

h4,
small {
  font-family: $accent-font-family;
  font-weight: 400;
}

h3,
h4 {
  font-weight: 600;
}

small {
  display: block;
  font-size: $base-size / $mod-scale / $mod-scale;
}

small,
.assigned h4 {
  text-transform: uppercase;
}

small b {
  font-weight: 600;
}

p {
  padding-bottom: $base-line * 0.5;
}
ol,
ul,
li {
  padding-bottom: $base-line * 0.25;
}
ol ol,
ol ul,
ul ol,
ul ul {
  padding-top: $base-line * 0.25;
  padding-bottom: 0;
}

nav ul,
nav li {
  padding-bottom: 0;
  margin-bottom: 0;
}

#header,
#instructor,
#footer {
  font-family: $accent-font-family;
  font-size: $base-size / $mod-scale;
  font-weight: 300;
}
#header h1,
#quick-nav,
#full-nav {
  font-size: $base-size;
  font-weight: 400;
}
b {
  font-weight: 600;
}
cite, em, i {
  font-style: italic;
}
code {
  font-family: Menlo, Monaco, "Droid Sans Mono", Courier, "Courier New", monospace;
  font-size: 0.88em;
  line-height: 1;
  hyphens: none;
}

/**
* A quick baseline grid overlay using css+svg.
* Inspired by [Basehold.it](https://basehold.it/).
* @author leshido
*/

.g body {
  position: relative;
}

.g body::after {
  background: url('data:image/svg+xml;utf8,<svg height="11" width="1" xmlns="http://www.w3.org/2000/svg"><rect width="1" height="0.5" style="fill:rgba(255, 0, 0, 0.3)" /></svg>') repeat top left;
  content: "";
  display: block;
  pointer-events: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  position: absolute;
}

.g body:active::after {
  display: none;
}
