html {
  font-size: 11pt;
  color: black;
}

* {
  color: black;
}

#header,
#footer {
  color: inherit;
}
a,
#header a {
  text-decoration: none;
  color: inherit;
}
.agenda h3 a {
  display: none;
}

#content a[href^="http"]::after,
#footer a[href^="http"]::after {
  display: inline;
  content: "(" attr(href) ")";
  font-family: Menlo, Monaco, "Droid Sans Mono", Courier, "Courier New", monospace;
  font-size: 0.85em;
  color: #CCC;
  text-decoration: none;
}
p,li {
  -webkit-hyphens: none;
  hyphens: none;
}

/* Hide Navigation Stuff */

#quick-nav,
#nav-nav,
#full-nav {
  display: none;
}
