---
layout: default
---
{% assign util = site.data.utility %}
<section class="primary">
  <header>
    <h2>Calendar</h2>
  </header>
{% for entry in site.data.calendar %}
  {% assign week_int = forloop.index | times: 1 %}
  {% capture weeknum %}{% if week_int < 10 %}0{% endif %}{{ week_int }}{% endcapture %}
  {% assign week = site.data.weeks[weeknum] %}

  <article id="week-{{ weeknum }}" data-week="{{ entry.begins | date: '%U' }}" data-expires="{{ entry.expires }}">
    <header>
      <h3>
        {{ week.theme | escape }}
      </h3>
      <small>Week&nbsp;{{ util.spelled_nums[forloop.index] }}</small>
    </header>
  </article>
{% endfor %}

</section>
