---
layout: default
---
{% assign util = site.data.utility %}
<section class="primary">
  <header>
    <h2>Calendar</h2>
  </header>
{% for entry in site.data.calendar %}
  {% assign week_int = forloop.index | times: 1 %}
  {% capture weeknum %}{% if week_int < 10 %}0{% endif %}{{ week_int }}{% endcapture %}
  {% assign week = site.data.weeks[weeknum] %}

  <article id="week-{{ weeknum }}" data-week="{{ entry.begins | date: '%U' }}" data-expires="{{ entry.expires }}">
    <header>
      <h3>
        {{ week.theme | escape }}
      </h3>
      <small>Week&nbsp;{{ util.spelled_nums[forloop.index] }}</small>
    </header>
    {% for meeting in week.meetings %}
    <section class="agenda">
      {% if site.course.days %}
        {% assign day_key = site.course.days[forloop.index0] | downcase %}
        {% assign day_offset = site.data.utility.day_offsets[day_key] | times: 1 %}
        {% capture dateline %}{{ entry.begins | date: "%s" | plus: day_offset | date: "%A, %B %e" }}{% endcapture %}
      {% else %}
        {% capture dateline %}Discussion Topics for Week of {{ entry.begins | date: "%B %e" }}{% endcapture %}
      {% endif %}
      <h4>{{ dateline }}{% if meeting.video %} <a href="{{ meeting.video }}">Video</a>{% endif %}</h4>
      <ol>
        {% for item in meeting.agenda %}
          <li>{{ item | markdownify | remove: "<p>" | remove: "</p>" | strip_newlines }}</li>
        {% endfor %}
      </ol>
    </section>
    {% endfor %}

    <aside class="assigned">
      <header>
        <h3>Assigned Work</h3>
      </header>
      {% if week.readings %}
      <section class="readings">
        <h4>To Read</h4>
        <ol>
          {% for reading in week.readings %}
            <li>{{ reading | markdownify | remove: "<p>" | remove: "</p>" | strip_newlines }}</li>
          {% endfor %}
        </ol>
      </section>
      {% endif %}
      {% if week.tasks %}
      <section class="tasks">
        <h4>To Do</h4>
        <ol>
          {% for task in week.tasks %}
            <li>{{ task | markdownify | remove: "<p>" | remove: "</p>" | strip_newlines }}</li>
          {% endfor %}
        </ol>
      </section>
      {% endif %}
    </aside>
  </article>
{% endfor %}

</section>
