<!DOCTYPE html>
<html lang="en" id="{{page.id}}" prefix="og: http://ogp.me/ns#" class="loading">
<head>{% assign course = site.course %}{% assign instructor = site.course.instructor %}{% assign ta = site.course.ta %}
  <meta charset="utf-8" />
  <title>{{ course.number }}: {% if page.title %}{{ page.title}}{% else %}{{ course.title }}{% endif %}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,shrink-to-fit=no" />
  <link rel="stylesheet" href="{{ site.baseurl }}assets/css/screen.css" media="all"/>
  <link rel="stylesheet" href="{{ site.baseurl }}assets/css/print.css" media="print" />
  <!-- Open Graph -->
  <meta property="og:url" content="{{ site.url }}{{ site.baseurl }}" />
  <meta property="og:title" content="{{ course.number }}: {{ course.title }}" />
  <meta property="og:description" content="{{ course.tagline | strip_newlines }}" />
  <meta property="og:image" content="{{ site.url }}{{ site.baseurl }}{{ course.uid }}.png" />
  <meta property="og:image:type" content="image/png" />
  <meta property="og:type" content="website" />
</head>
<body>
<header id="header">
  <h1>
    <a rel="home" href="{{ site.url }}{{ site.baseurl }}">{{ course.title}}</a>
  </h1>
  <!-- {% if page.title %} {{ page.title}}{% endif %} -->
  <nav id="quick-nav">
    <h3 id="nav-con"><a href="#content"><span class="access">Jump to</span> {{ page.title }}</a></h3>
    <ul class="nav">
      <li id="nav-nav"><a href="#full-nav"><span class="access">Jump to</span> Menu</a></li>
    </ul>
  </nav>
  <p class="tagline">
    {% if course.tagline %}{{ course.tagline }}{% endif %}
    Taught by <a href="#instructor">{{ instructor.title }} {{ instructor.name }}</a>,
    {{ course.term }}.
  </p>
</header>
<main id="content">
  {{ content }}
</main>

<article id="information">
  <h2 class="access">Course Information</h2>
  <section id="instructor">
    <header>
      <h3>Instructor</h3>
    </header>
    <ul>
      <li>
        <a href="{{ instructor.url }}">{{ instructor.honorific }} {{ instructor.name }}</a>,
        {{ instructor.full_title | escape }}
      </li>
      <li><a href="mailto:{{ instructor.email }}">{{ instructor.email }}</a></li>
      <li id="office-hours">
        {{ instructor.office_hours }}
      </li>
    </ul>
    {% if ta.name %}
    <header>
      <h3>Teaching Assistant</h3>
    </header>
    <ul>
      <li>
        {% if ta.url %}<a href="{{ ta.url }}">{% endif %}{{ ta.name }}{% if ta.url %}</a>{% endif %},
        {{ ta.full_title | escape }}
      </li>
      <li><a href="mailto:{{ ta.email }}">{{ ta.email }}</a></li>
      <li id="ta-office-hours">
        {{ ta.office_hours }}
      </li>
    </ul>
    {% endif %}
  </section>

  <nav id="full-nav">
    <h3>Navigation</h3>
    <ul class="nav">
      {% for nav in course.navigation %}
      {% assign protocol = nav.href | slice: 0, 4 %}
      {% if protocol == 'http' %}
        {% assign fullhref = nav.href %}
      {% else %}
        {% capture fullhref %}{{ site.baseurl }}{{ nav.href }}{% endcapture %}
      {% endif %}
      <li id="nav-{{ nav.id }}"><a href="{{ fullhref }}">{{ nav.label }}</a></li>
      {% endfor %}
    </ul>
  </nav>
</article>

<footer id="footer">
  <h3>Colophon</h3>
  <p class="fineprint">
    Course syllabus by <a href="{{ instructor.url }}">{{ instructor.name }}</a>.
    Licensed under
    <a href="{{ course.license.url }}" rel="license">{{ course.license.name }}</a>.
    {% if course.archive %}
      {% assign github_url = course.archive %}
    {% else %}
      {% capture github_url %}{{ instructor.github }}{{ course.uid }}{% endcapture %}
    {% endif %}
    <a id="github" href="{{ github_url }}">Source hosted on GitHub</a>.
  </p>
  {%- unless course.archives.length == empty -%}
  {%- capture course_versions -%}
    {%- for archive in course.archives -%}
      <a href="{{ archive.url }}">{{ archive.label }}</a>;
    {%- endfor -%}
  {%- endcapture -%}
  <p class="archives">
    Previous versions of this course: {{ course_versions | split: ";" | join: ", " }}.
  </p>
  {%- endunless -%}
</footer>
<script src="{{ site.baseurl }}assets/js/site.js"></script>
</body>
</html>
