---
layout: default
---


{% for policy in site.policies %}
{% if policy.content.size > 1 %}
  {% assign filename = policy.path | split: "/" %}
  {% assign slug = filename[1] | remove: ".md" %}
  <article class="policy{% if policy.comment %} has-comment{% endif %}" id="{{ slug }}">
    <header>
      <h2>{{ policy.title }}</h2>
    </header>
    {{ policy.content }}
    {% if policy.comment %}
    <aside class="comment">
      {{ policy.comment | markdownify }}
    </aside>
    {% endif %}
  </article>
{% endif %}
{% endfor %}
