---
layout: default
---

<section class="primary">
  <header>
    <h2>{{ page.title }}</h2>
  </header>
{% for project in site.projects %}
<article id="project-{{ site.data.utility.spelled_nums[forloop.index] | downcase }}">
  <header>
    <h2>Project {{ site.data.utility.spelled_nums[forloop.index] }}: {{ project.title }}</h2>
    <p>Due by {{ project.due_date | date: "%A, %B %-d, %Y"}}</p>
  </header>
  <h3>Project Description</h3>
  {{ project.content }}
  <h3>Project Goals</h3>
  <ul>
  {% for goal in project.goals %}
    <li>{{ goal | markdownify | remove: "<p>" | remove: "</p>" | strip_newlines }}</li>
  {% endfor %}
  </ul>
  <h3>Project Deliverables</h3>
  <ol>
  {% for deliverable in project.deliverables %}
    <li>
      {% if deliverable.deadline %}Due by <b>{{ deliverable.deadline | date: "%A, %B %-d"}}</b>: {% endif %}
      {{ deliverable.action | markdownify | remove: "<p>" | remove: "</p>" | strip_newlines }}
      {{ deliverable.description | markdownify | remove: "<p>" | remove: "</p>" | strip_newlines }}
      {% if deliverable.details %}
        <ul>
          {% for detail in deliverable.details %}
          <li> {{ detail | markdownify | remove: "<p>" | remove: "</p>" | strip_newlines }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </li>
  {% endfor %}
  </ol>
  {% if project.milestones %}
  <h3>Project Milestones</h3>
  <ol>
    {% for milestone in project.milestones %}
      <li>
        {% if milestone.deadline %}Due by <b>{{ milestone.deadline | date: "%A, %B %-d"}}</b>: {% endif %}
        {{ milestone.action }}
        {{ milestone.description }}
        {% if milestone.details %}
          <ul>
            {% for detail in milestone.details %}
            <li> {{ detail }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endfor %}
  </ol>
  {% endif %}
  {% if project.requirements %}
  <h3>Project Requirements</h3>
  <ol>
    {% for requirement in project.requirements %}
    <li>{{ requirement | markdownify | remove: "<p>" | remove: "</p>" | strip_newlines }}</li>
    {% endfor %}
  </ol>
  {% endif %}
</article>
{% endfor %}
</section>
