---
layout: spare
---

{%- assign course = site.course -%}
<article class="card">
  <header>
    <h2><small>{{ course.number }}</small>{{ course.title }}</h2>
  </header>
  <h3 class="dateline" contenteditable="true">December 31, 2021</h3>
  <ul class="info">
    <li>{{ course.instructor.honorific }} {{ course.instructor.name }}</li>
    <li>{{ site.live_url }}{{ site.baseurl }}</li>
    <li>{{ course.term }}</li>
  </ul>
</article>

<!--

  TO CAPTURE:

  Size browser viewport to 960 x 540px.

  On a retina screen, that works out to a 1080p image of 1920 x 1080px.

-->
